header {
  background: #fff url(../img/background.png) no-repeat fixed 0 0;
}

h1 {
  font: normal 400 100px 'Roboto', sans-serif;
  margin-top: 20px;
  margin-left: 30px;
}

main {
  font: normal 400 20px 'Roboto', sans-serif;
  margin-left: 30px;
  line-height: 1;
}

section {
  background-color: #fff;
}

.home {
    font: normal 400 20px 'Roboto', sans-serif;
    justify-content: center;
    text-align: center;
}