* {
  text-decoration: none;
  font: 'Roboto';
}

html {
  background: #fff;
}

h1 {
  font: normal 400 100px 'Roboto';
  margin-top: 20px;
  margin-left: 30px;
}

main {
  font: normal 400 20px 'Roboto';
  margin-left: 30px;
  line-height: 1;
}

section {
  background-color: #fff;
}

.home {
    font: normal 400 20px 'Roboto';
    justify-content: center;
    text-align: center;
}
