a:visited {
  text-decoration: none;
  color: black;
}

.title {
  font: normal 700 60px 'Spectral', serif;
  text-align: left;
  margin-bottom: 1px;
  margin-top: -50px;
  margin-left: 20px;
  color: black;
}

hr {
    display: block;
    height: 1px;
    border: 10;
    border-top: 1px solid #ccc;
    padding: 0;
    color: #965F7D;
    box-sizing: border-box;
}

main {
  font: normal 400 20px 'Spectral', serif;
  margin: 50px;
  margin-right: 70px;
}

.contact {
  font: normal 400 22px 'Spectral', serif;
  text-align: center;
}

.bold {
  font: normal 700 22px 'Spectral', serif;
}

.home {
    font: normal 400 22px 'Spectral', serif;
    text-align: left;
    margin-left: 50px;
    position: fixed;
    bottom: 0;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  font: normal 400 14px 'Spectral', serif;
  margin-left: 30px;
  padding: 10px;
}
