html {
  background: #fff url(../img/background.png) no-repeat fixed 0 0;
}

h1 {
  font: normal 400 100px 'Roboto', sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 5px;
  text-align: center;
}

h2 {
  font: normal 400 30px 'Roboto', sans-serif;
  margin: 5px;
  margin-left: 40px;
  text-align: center;
}

img {
  max-width: 22%;
  padding: 10px;
}

main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

ul {
  text-align: center;
  font: normal 700 30px 'Roboto', sans-serif;
  line-height: 2;
  background-size: 300px;
  width: 375px;
  height: 375px;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(255, 253, 51, 0.5),rgba(255,255,255,0.5))
}

a:visited {
  text-decoration: none; 
  color: black;
}