html {
  background: #fff url(../img/background.png) no-repeat fixed 0 0;
}

header {
  padding: 0;
}

h1 {
  font: normal 400 100px 'Roboto', sans-serif;
  margin-top: 20px;
  text-align: center;
}

h2 {
  font: normal 400 50px 'Roboto', sans-serif;
  margin: 30px;
  text-align: center;
  margin-top: -25px;
}

img {
  max-width: 20%;
  padding: 10px;
  border: 5px solid black;
}

main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.me {
  display: block;
  margin: auto;
  margin-right: 150px;
}

.camera {
  display: block;
  margin: auto;
  margin-left: 150px;
}

ul {
  text-align: center;
  font: normal 700 30px 'Roboto', sans-serif;
  line-height: 2;
}

li {
  background-color: rgba(255,255,255,0.75);
  width: 300px;
}

a:visited {
  text-decoration: none; 
  color: black;
}