* {
  text-decoration: none;
}

header {
  background: #fff url(../img/background.png) no-repeat fixed 0 0;
  margin: 0;
}

.title {
  font: normal 400 100px 'Roboto', sans-serif;
  margin-left: 40px;
}

.subtitle {
  font: normal 400 30px 'Spectral', sans-serif;
  margin-left: 40px;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.button1 {
  margin: 40px;
  font: normal 400 30px 'Spectral', serif;
  color: #fff;
  background-color: #000000;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  border: 2px solid white;
}


.button2 {
  margin: 40px;
  font: normal 400 30px 'Spectral', serif;
  color: #fff;
  background-color: #000000;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  border: 2px solid white;
}

.button3 {
  margin: 40px;
  font: normal 400 30px 'Spectral', serif;
  color: #fff;
  background-color: #000000;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  border: 2px solid white;
}

.button4 {
  margin: 40px;
  font: normal 400 30px 'Spectral', serif;
  color: #fff;
  background-color: #000000;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  border: 2px solid white;
}


a:visited {
  text-decoration: none; 
  color: white;
}

button:hover:enabled {
  color: #000;
  text-shadow: 2px 2px #000;
  border: 2px solid black;
  background-color: rgb(230, 172, 182);
}

footer {
  text-align: right;
  font: normal 400 14px 'Spectral', serif;
  margin-left: 30px;
  padding: 10px;
}