* {
    text-decoration: none;
  }
  
  h1 {
    font: normal 400 100px 'Roboto', sans-serif;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 5px;
  }
  
  h2 {
    font: normal 400 30px 'Roboto', sans-serif;
    margin: 10px;
    margin-left: 40px;
  }
  
  .grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    }
  
  .grid1 img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
  }
  
  .home {
      font: normal 400 20px 'Roboto', sans-serif;
      justify-content: center;
      text-align: center;
      margin: 5px;
  }