a:visited {
  text-decoration: none; 
  color: black;
}

header {
  background: #fff url(../img/background.png) no-repeat fixed 0 0;
}

h1 {
  font: normal 400 100px 'Roboto', sans-serif;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 1px;
}

h2 {
  font: normal 400 30px 'Spectral', sans-serif;
  margin-top: 5px;
  margin-left: 25px;
}

.home {
    font: normal 400 18px 'Roboto', serif;
    text-align: right;
    margin-right: 30px;
}

.intro {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.blurb {
  font: normal 400 18px 'Roboto', sans-serif;
  display: flex;
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.Slide {
  display: none;
}

img {
  width: auto;
  height: 500px;
  border: 7px solid black;
  display: block;
}

.slideContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 800px;
  position: relative;
  margin: auto;
}


.prevBtn {
  margin-top: 175px;
  position: relative;
  width: auto;
  top: 50%;
  padding: 30px;
  color: black;
  font-weight: bolder;
  font-size: 30px;
}

.nextBtn {
  margin-top: 175px;
  position: relative;
  top: 50%;
  width: auto;
  padding: 30px;
  color: black;
  font-weight: bolder;
  font-size: 30px;
  right: 0;
}
.Caption {
  color: black;
  font-family: "Spectral", serif;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 450px) {
  .prevBtn,
  .nextBtn,
  .Caption {
     font-size: 16px;
  }
}